<template>
  <div id="menu" class="subheader">
    <a @click="setActive(false)">法人情報画面</a>
    <a @click="alertMe">スタッフ</a>
  </div>
  <div id="corporate" class="container content">
    <section id="info" v-if="!active">
      <h2>プロフィール</h2>

      <div class="main">
        <text-field label="法人名" v-model="name" />
        <text-field label="住所" v-model="address" />
        {{ name }}
      </div>
    </section>

    <section id="staff" v-if="active">
      <h2>法人スタッフ</h2>
      <div>
        <custom-button text="メール招待" />
      </div>
      <br />
      <div>
        <card
          v-for="(staff, index) in staffs"
          v-bind:key="index"
          :name="staff.name"
          :email="staff.email"
          :role="staff.role"
        />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TextField from "@/components/TextField.vue";
import Card from "@/components/Card.vue";
import CustomButton from "@/components/Button.vue";

export default defineComponent({
  name: "Corporate",
  data() {
    return {
      staffs: [
        { name: "Brethren", email: "brethren@test.com", role: "role" },
        { name: "Adrianne", email: "brethren@test.com", role: "role" },
        { name: "Igarashi", email: "brethren@test.com", role: "role" },
        { name: "Brethren", email: "brethren@test.com", role: "role" }
      ],
      active: false,
      name: "12344",
      address: ""
    };
  },
  components: {
    TextField,
    Card,
    CustomButton
  },
  methods: {
    setActive: function(status: boolean) {
      this.active = status;
    },

    alertMe: function() {
      alert(this.name);
    }
  }
});
</script>

<style lang="scss">
#menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: aqua;
  height: 50px;
  align-items: center;
}
h2 {
  text-align: left;
}
#corporate {
  padding: 20px;
  overflow-y: auto;
  #info {
    .main {
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>