<template>
  <div class="home">
    <h2>Personal</h2>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Personal',
});
</script>
