<template>
  <button>{{ text }}</button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Button",
  props: {
    text: String
  }
});
</script>

<style lang="scss" scoped>
button {
  border: 1px solid #ccc;
  background-color: #7bbba4;
  color: white;
  border-radius: 8px;
  min-width: 115px;
  height: 44px;
  font-size: 1em;
}
</style>