<template>
  <div class="card">
      <div>
          <p><strong>{{name}}</strong></p>
          <p>{{email}} </p>
      </div>
      <div>{{role}}</div>
      <div>
          <img src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/5932099421553668338-64.png" alt="" srcset="">
          <img src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/20407009431543238936-64.png" alt="" srcset="">
      </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Button',
 props:{
     name: String,
     email: String,
     role: String,
 }
});
</script>

<style lang="scss">
.card{
    padding: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 1px #ccc;
    align-items: center;
    img{
        height: 20px;
    }
}
</style>