<template>
  <header>
    <h1>バード</h1>
  </header>
  <main>
    <div id="nav">
      <router-link to="/">法人設定</router-link> |
      <router-link to="/personal">個人設定</router-link>|
      <router-link to="/store">店舗設定</router-link>
    </div>
    <slot />
  </main>
  <footer></footer>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>

<style lang="scss">
header {
  display: flex;
  padding: 15px 50px;
  background-color: teal;
  color: #fff;

  h1 {
    margin: 0;
  }
}

#nav {
  position: absolute;
  margin-top: 60px;
}
</style>