<template>
  <div class="text-field">
    <label>{{ label }}</label>
    <input
      type="text"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TextField",
  emits: ["update:modelValue"],
  props: {
    label: String,
    modelValue: String
  }
});
</script>

<style lang="scss">
.text-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    min-width: 200px;
  }
}
</style>