<template>
  <layout>
    <div>
      <router-view />
    </div>
  </layout>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Layout from "@/components/Layout.vue";
export default defineComponent({
  components: {
    Layout
  }
});
Layout;
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#root {
}

#nav {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: 20vw;
  margin-top: 50px auto 0;
  background: #ffffff;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
</style>
